     <h1> {{messages.error}}</h1>
    <form id="forgot" name="forgot" method="post" action="forgot">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="text" />
        <input class="btn" type="submit" value="Send Reset" />
    </form>