    <form id="reset" name="reset" method="post" action="/reset/:token">
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="reset password" />
    </form>