
* {
    box-sizing: border-box;
}

html, body, #main-page-content-row {
    height: 100%;
}

#main-page-title {
    font-family: 'Audiowide', cursive;
    font-size: 12vw;
    color: white;
    text-shadow: .05em .05em .1em black;
    margin-top: 1%;
}

#o {
    color: #50a39a;
    text-shadow: .05em .05em .1em white;
}

#main-page-container {
	width: 100%;
	height: 100%;
	padding: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
}

.fullscreen-bg_video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -100;
}

#main-page-content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%
}

#signin {
    text-align: left;
}

#left-bar-main, #right-bar-main {
    height: 100%
}

#left-bar-main {
    background: linear-gradient(to right, rgba(0,0,0,0.75), rgba(0,0,0,0.4));
}

#right-bar-main {
    background: linear-gradient(to left, rgba(0,0,0,0.75), rgba(0,0,0,0.4));
}

#login-card, #create-profile-card, #update-profile-card {
    background-color: rgba(33, 33, 33, 0.9);
    border-radius: 10px;
    margin-top: 50px;
}

#update-profile-card {
    margin-top: 185px;
    text-align: center;
}

#email, #password {
    color: white;
}

#create-profile-card {
    transform:rotateY(-90deg);
    margin-top: 20px;
}

#login-card-links {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: left;
}

#register, #forgot-password {
    color: white;
    background-color: rgba(33, 33, 33, 0);
    border-color: rgba(33, 33, 33, 0);
}

#loginInfoTitle, #profilePicTitle, #interestsTitle {
    color: #71E5D9;
}


#displayName, #userEmail, #passwordInput, #passwordConfirmInput, #about-me, #image-link {
    line-height: 1em;
    color: white;
}

#forgot-password {
    float: right;
}

#register:hover {
    color: #D9D9D9;
}

#forgot-password:hover {
    color: #D9D9D9;
}
#blog-container{
    color: black;
    border-color: orange;
    border: darkorange;
    border-style: solid;
    height: 250px;
}

#discord-login {
    background-color: #7289da;
    color: white;
    width: 100%;
    border-radius: 30px;
}

#discord-login:hover {
    background-color: #5F72B5;
}

#sign-in-button, #create-profile-button, #reset-password-button, #login-button, #update-profile-button {
    width: 100%;
    border-radius: 30px;
}

#sign-in-button {
    margin-top: 20px;
}

#forgotEmail {
    color: white;
}

#forgot-email-upper {
    color: #50a39a;
}

#message-headline {
    font-size: 20px;
    color: red;
}

/* Profile Page CSS */

#profile-body {
    bottom: 0;
    top: 185px;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: -10;
}

.profile-page-container {
    position: relative;
    width: 100%;
	height: 100%;
	padding: 0;
	top: 0;
	right: 0;
	bottom: 0;
    left: 0;
}

#profile-page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 95px;
    background: linear-gradient(rgba(33,33,33,1), rgba(88,88,88,1));
    margin: 0;
    z-index: 10;
}

#profile-header-background-type {
    font-family: 'Audiowide', cursive;
    font-size: 10vw;
    color: rgba(255,255,255,0.05);
    letter-spacing: 5vw;
    z-index: 0;
    margin: 0;
    text-align: center;
}

#profile-img-container {
    position: fixed;
    top: 25px;
    left: 150px;
    width: 185px;
    height: 185px;
    background-color: lightgray;
    z-index: 12;
    border: 8px solid #50a39a;
    border-radius: 220px;
}

#profile-img {
    width: 100%;
    height: 100%;
    border-radius: 185px;
}

#profile-nav {
    position: fixed;
    top: 95px;
    margin: 0 !important;
    background-color: #50a39a;
    height: 62px;
    z-index: 10;
}

#profile-logo {
    font-family: 'Audiowide', cursive;
    font-size: 60px;
    color: white;
    text-shadow: .05em .05em .1em black;
    margin: 0;
    padding: 0;
    display: inline;
    margin-left: 40px;
}

#profile-logo:hover {
    color: lightgray;
}

#username-display {
    position: absolute;
    left: 360px;
    font-size: 25px;
    color: white;
    z-index: 1;
}

.nav-links {
    font-size: 15px;
}

.nav-links:hover {
    background-color: #3B7871;
}

#profile-page-content {
    bottom: 0;
    top: 185px;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: -10;
}

#search-bar-div-profile {
    position: fixed;
    top: 155px;
    right: 0;
    left: 0;
    height: 55px;
    background-color: white;
    z-index: 10;
    border-bottom: 1px solid black;
    border-style: none none outset none;
}

.input-field {
    color: black;
}

#discord-widget {
    margin-top: 10px;
    position: fixed;
    top: 230px;
    height: 400px;
    z-index: 10;
    border-radius: 5px;
}

#post-input, #search-input, #comment-input {
    background-color: #E8E8E8;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 4px;
    width: 84%;
    margin-right: 0px;
    padding-left: 10px;
}

#post-button, #post-comment-button {
    height: 45px;
    background-color: rgba(88,88,88,1);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 2px;
    width: 14%;
}

#logout-button {
    background-color: rgba(88,88,88,1);
    float: right;
    height: 45px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 4px;
    padding-top: 5px;
} 

#logout-button-col {
    padding-right: 0 !important;
}

#logout-button:hover {
    background-color: #6E6E6E;
}

#post-button:hover {
    background-color: #6E6E6E;
}

#search-button {
    height: 45px;
    background-color: rgba(88,88,88,1);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 0px;
    margin-bottom: 2px;
    width: 13%;
    color: white;
}

#search-input {
    margin-bottom: 20px;
}

::-webkit-input-placeholder {
    color:    #999;
}
:-moz-placeholder {
    color:    #999;
}
::-moz-placeholder {
    color:    #999;
}
:-ms-input-placeholder {
    color:    #999;
}

#post-bar-col, #search-bar-col {
    margin-top: 0px;
}

#feed {
    position: relative;
    margin-top: 230px;
    z-index: 1 !important;
}

#postername {
    color: #50a39a;
    font-size: 18px
}

#postername:hover, .friendname:hover {
    color: #40827B;
}

#says {
    font-size: 18px;
    color: rgba(33, 33, 33, 0.9);
}

#reply {
    color: rgba(33, 33, 33, 0.9);
    color: #50a39a;
}

#reply:hover {
    color: #40827B;
}

#post {
    background-color: white;
    border-radius: 5px;
}

#post-body {
    margin-bottom: 10px;
}

#friend-img {
    width: 75px;
    border-radius: 75px;
}

.friend {
    display: inline-block;
    width: 92px;
    overflow: hidden;
}

.friendname {
    color: #50a39a;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#friends-title {
    text-align: center;
}

#friends-count {
    color: #50a39a;
}

#friends-card {
    position: fixed;
    top: 230px;
    z-index: 10;
    border-radius: 5px;
}

.highlighted {
    background-color: #3B7871;
}

#updateDisplayName, #updateUserEmail, #update-image-link {
    line-height: 1em;
    color: white;
}

@media only screen and (max-width: 1050px) {

    #login-email-label, #login-password-label, #email, #password, #sign-in-button, #create-profile-button, #reset-password-button, #forgotEmail, #userEmailLabelForgot {
        font-size: 25px;
    } 

    #sign-in-button, #create-profile-button, #reset-password-button {
        height: 50px;
    }

    #register, #forgot-password {
        font-size: 25px;
    }
    #main-page-title {
        font-size: 18vw;
        margin-top: 150px
    }
    #login-card {
        margin-top: 100px;
    }

    #create-profile-card {
        margin-top: 200px;
    }

    #form-title, #forgot-title, #update-form-title {
        font-size: 40px;
    }

    #loginInfoTitle, #profilePicTitle, #interestsTitle, #forgot-instructions, #updateInterestsTitle {
        font-size: 25px;
    }

    #displayName, #displayNameLabel, #userEmail, #userEmailLabel, #passwordInput, #userPasswordLabel, #passwordConfirmInput, #userPasswordConfirmLabel, #image-link, #imageLinkLabel {
        font-size: 20px;
    } 

    #gamingCategoryTitle, #tvCategoryTitle, #movieCategoryTitle, #sportsCategoryTitle,  {
        font-size: 20px;
    }

    #gamingLabel, #tvLabel, #movieLabel, #sportsLabel {
        font-size: 16px;
    }

    #post-button {
        width: 13%;
        padding: 0 !important;
        margin-bottom: 0;
    }

    #profile-img-container {
        position: fixed;
        top: 25px;
        left: 90px;
        width: 185px;
        height: 185px;
        background-color: lightgray;
        z-index: 12;
        border: 8px solid #50a39a;
        border-radius: 220px;
    }

    #profile-logo {
        margin-left: 20px;
    }

    #username-display {
        position: absolute;
        left: 280px;
        font-size: 25px;
        color: white;
        z-index: 1;
    }

    #discord-widget {
        width: 250px;
    }

    #profile-header-background-type {
        margin-left: 50px;
    }
}
